
.colabCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px #00000014;
    
}
.colabCard img{
    margin-top: 32px;
    width:120px;
    border-radius: 230px;
}